* {
    margin: 0;
    padding: 0;
}
.nav{
    background: #ffafb0; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #ffafb0, #ffcccd);
    background: -moz-linear-gradient(right, #ffafb0, #ffcccd);
    background: -o-linear-gradient(right, #ffafb0, #ffcccd);
    background: linear-gradient(to left, #ffafb0, #ffcccd);
    overflow: hidden;
}
.nav .menu_fila>li{
    padding: 1em;
    width: 20%;
    float: left;
}
.nav .menu_fila>li>a{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;

}
.nav .menu_fila>li:hover,.nav .menu_fila>li>.sub_menu>li:hover{
    background: #5eb7b7;
    cursor: pointer;
}
.nav .menu_fila>li>.sub_menu{
    position: absolute;
    background: #5eb7b7;
    width: 20%;
    list-style: none;
    margin-top: 1em;
    display: none;
}
.nav .menu_fila>li:hover>.sub_menu{
    display: block;
}
.nav .menu_fila>li>.sub_menu>li{
    padding: 1em;
}
.nav .menu_fila>li>.sub_menu>li>a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}